.secondary-sidebar {
        width: 18rem !important; 
    }
.sidebar-left-mid{
    width: 15rem !important;
}
.hidden{
    display: none !important;
}

#hovarable:hover{
    background-color: lightsteelblue;
}

.tab-content-full{
    width:100%;
}

.bg-facebook{
    background-color:#3b5998 ;
}
.bg-twitter{
    background-color:#00acee ;
}
.bg-linkedin{
    background-color:#0e76a8;
}

.border-radius-8{
    border-radius:8px;
}
.bg-lighter{
    background-color: #ecf0f1;
}
a:hover {
    /* background-color: #7b9005; */
    text-decoration: none;
    /* font-kerning: #37017c; */
  }
  
.border-light-grey{
    border-color: #dddddd;
}

.postbox-full{
    min-height: 80vh !important;
}

.card-custom-empty {
    border: 4px dashed #dedede !important;
    min-height: 100px !important;
    border-radius: 0.3rem;
    overflow: hidden;
    position: relative;

}
.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

.card-custom-empty-large {
    border: 4px dashed #dedede !important;
    min-height: 250px !important;
    border-radius: 0.3rem;
    overflow: hidden;
}
.card-custom-container {
    border:0 !important;
    /* margin-bottom: 1.25rem; */
    border-radius: 0.3rem;
    overflow: show;
    /* box-shadow: 2px 2px 3px 1px rgb(76 76 76 / 51%) !important; */
    box-shadow: 1px 1px 3px 1px rgb(209, 209, 209) !important;
}
.card-custom {
    border:0 !important;
    /* margin-bottom: 1.25rem; */
    border-radius: 0.3rem;
    overflow: hidden;
    /* box-shadow: 2px 2px 3px 1px rgb(76 76 76 / 51%) !important; */
    box-shadow: 1px 1px 3px 1px rgb(209, 209, 209) !important;
}
.post-card-custom {
    /* border:0 !important; */
    /* margin-bottom: 1.25rem; */
    border-left-width: 4px !important;
    border-left-style: solid !important;
    border-top: 0 !important;
    border-right: 0 !important;
    border-bottom: 0 !important;
    border-radius: 0rem 0.3rem 0.3rem 0rem;
    overflow: hidden;
    /* box-shadow: 2px 2px 3px 1px rgb(76 76 76 / 51%) !important; */
    box-shadow: 1px 1px 3px 1px rgb(209, 209, 209) !important;
}

.custom-scrollbars {
    overflow-y: scroll !important;
    -ms-overflow-style: -ms-autohiding-scrollbar !important;
    scrollbar-width: thin !important;
    scrollbar-color: #999 #eee;
}

.post-card-custom:hover{
    background-color: #f6f6f6;
    /* cursor: pointer !important; */
    box-shadow: 1px 3px 5px 1px rgb(209, 209, 209) !important;
    transition: transform 550ms linear;
    /* transform: translateY(-2px); */
    transform: translateX(-4px);

}
.card-custom:hover{
    background-color: #f6f6f6;
    /* cursor: pointer !important; */
    box-shadow: 1px 3px 5px 1px rgb(209, 209, 209) !important;
    transition: transform 550ms linear;
    transform: translateY(-2px);
    /* transform: translateX(-4px); */
}

.sidebar-shadow{
    box-shadow: 2px 2px 3px 1px #ddd !important;
}


/* Scrollbar Styling */
::-webkit-scrollbar {
    width: 5px;
}
 
::-webkit-scrollbar-track {
    background-color: #ffffff;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #bbbbbb; 
}

/* ------------------------------------------------------------------------------
 *
 *  # Ecommerce stuff
 *
 *  Styles for Ecommerce set of pages
 *
 * ---------------------------------------------------------------------------- */
 .color-selector-active {
    position: relative; }
    .color-selector-active i {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -0.5rem;
      margin-left: -0.5rem; }
  
  .pricing-table-price {
    font-size: 2.625rem; }
    .pricing-table-price > span {
      font-size: 1.875rem; }
  
  .pricing-table-list li {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
    .card[class*=bg-]:not(.bg-transparent):not(.bg-white):not(.bg-light) .pricing-table-list li {
      border-bottom-color: rgba(255, 255, 255, 0.2); }
  
  .ribbon-container {
    width: 6.5rem;
    height: 6.625rem;
    overflow: hidden;
    position: absolute;
    top: -1px;
    right: -1px; }
  
  .ribbon {
    text-align: center;
    font-size: 0.75rem;
    line-height: 1.6667;
    font-weight: 500;
    text-transform: uppercase;
    position: relative;
    padding: 0.3125rem 0;
    left: -0.6875rem;
    top: 1.563rem;
    width: 9.375rem;
    z-index: 10;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); }  